@CHARSET "ISO-8859-1";
td, h1 {
    text-align: center;
	font-family:'Josefin Sans',sans-serif;

	
}
table {
    width: 100%;
}
table, th, td {
    border: 1px white;
}
body{
	color:white;
    padding-top: 70px;
  
}
input{
	color:black;
	
}
button{
	background-color:blue;
	color:black;
	display: inline-block;
}
.button{
	background-color:blue;
	color:black;
	display: inline-block;
}
p4{
	color:black;
}
.navbar-default {
    background-color: white;
    border-color: black;
}
li{
	color:white;
} 