@CHARSET "ISO-8859-1";
h1{

	font-family:'Josefin Sans',sans-serif;
	color: white;
}
.col-sm-12{
	padding: 10px;
	border: 3px double;
	margin-left: 10px;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	background:silver;
	opacity: .9;
}
table{
	color:midnightblue;
}
body{
	color:white;
    padding-top: 70px;
  
}
input{
	color:black;
	
}
button{
	background-color:cornflowerblue;
	color:white;
	display: inline-block;
}
.button{
	background-color:cornflowerblue;
	color:white;
	display: inline-block;
}
p4{
	color:black;
}
.navbar-default {
    background-color: white;
    border-color: black;
}
li{
	color:white;
} 
