@CHARSET "ISO-8859-1";
h1{
	font-family:'Josefin Sans',sans-serif;
	color:white;
	font-size:30pt;
}
h2{
	color:white;
	font-family:'Josefin Sans',sans-serif;
}
h3{
	color: white;
	font-family:'Josefin Sans',sans-serif;
	font-size: 20pt;
}
table{
	color:lightgrey;
}
body{
	color:white;
    padding-top: 70px;
  
}
input{
	background-color:white;
	color:black;
	
}
button{
	background-color:cornflowerblue;
	color:white;
	display: inline-block;
}
.button{
	background-color:cornflowerblue;
	color:white;
	display: inline-block;
}
p4{
	color:black;
}
.navbar-default {
    background-color: white;
    border-color: black;
}
li{
	color:white;
} 