@CHARSET "ISO-8859-1";
h1{
	font-family:'Josefin Sans',sans-serif;
	color:white;
	font-size:30pt;
}
h2{
	color:white;
	font-family:'Josefin Sans',sans-serif;
}
h3{
	color: white;
	font-family:'Josefin Sans',sans-serif;
	font-size: 20pt;
}
table{
	color:lightgrey;
}
