@CHARSET "ISO-8859-1";
h1{
	font-family:'Josefin Sans',sans-serif;
	color: #0000a0;
}
h2{
	color: #0000a0;
	font-family:'Josefin Sans',sans-serif;
}
h3{
	color: #0000a0;
	font-family:'Josefin Sans',sans-serif;
}
